@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #ff6a00;
  --color-secondary: #757575;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

/* Popup overlay */
.user-popup-overlay {
  @apply fixed inset-0 bg-black/50 z-999 flex items-center justify-center;
  backdrop-filter: blur(4px);
}

/* Popup content */
.user-popup-content {
  @apply bg-white w-1/2 max-w-lg p-6 rounded-xl shadow-xl z-1000 transform transition-transform duration-200 ease-out;
  transform: translateY(-50px);
  opacity: 0;
}

/* Active state: slide down */
.user-popup-open {
  transform: translateY(0);
  opacity: 1;
}

.axto-orange-btn {
  @apply bg-primary hover:bg-white text-white hover:text-primary px-3 py-1 text-[10px] md:text-[15px] cursor-pointer rounded-3xl border border-white hover:border-primary transition;
}
.axto-white-btn {
  @apply bg-white hover:bg-primary text-primary hover:text-white px-3 py-1 text-[10px] md:text-[15px] cursor-pointer rounded-3xl border border-primary hover:border-white transition;
}

.axto-container {
  @apply px-[1em] lg:px-[5em] xl:px-[5em] 2xl:px-[10em];
}

.orange-gradient {
  background: linear-gradient(
    90deg,
    #ffe1cc -37.5%,
    rgba(255, 255, 255, 0) 95.08%
  );
}

/* Loader styles */
.app-loader {
    z-index: 9999;
    background: #ffffffc4;
    filter: blur(0.5px);
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    inset: 0;
}
.app-loader .spinner {
  width: 55px;
  height: 55px;
  border: 5px solid #000;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
